{% extends "analisis_base.html" %}


{% block section %}

<div class="pagina">


	<section class="features bg-primary text-justify" >
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
			<h2 class="section-heading">Analisis de Especies</h2>
				<p>
					Un alineamiento de secuencias en bioinformática es una forma de representar y comparar dos o más secuencias o cadenas de ADN, ARN, o estructuras primarias proteicas para resaltar sus zonas de similitud, que podrían indicar relaciones funcionales o evolutivas entre los genes o proteínas consultados.
				</p>
			</div>
	    </div>
	  </div>
	</section>

	<section class="features text-justify" >
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
			<h2 class="section-heading">Alineamiento de Secuencias</h2>
			  {%- for message in get_flashed_messages() %}
		         {{ message }}
		      {%- endfor %}
				<!--
		      <h3>Students (<a href = "{{ url_for('new') }}">Add Ave papa!
		         </a>)</h3>
		         -->
				<div style="margin: auto;">
					<table class="table table-bordered">
				    	<caption>Relación de busquedas</caption>
						<thead class="thead-dark">
							<tr>
								<th>Nombre comun</th>
								<th>Nombre cientifico</th>
								<th>Lista roja</th>
								<th>Link</th>
							</tr>
						</thead>
						<tbody>			
							{% for ave in aves %}
							<tr>				
			                  <td>{{ ave.commonName }}</td>
			                  <td>{{ ave.scientificName }}</td>
			                  <td>{{ ave.redList }}</td>
			                  <td>{{ ave.link }}</td>
							</tr>
							{% endfor %}			
						</tbody>  	
				    </table>    
			    </div>
			</div>
	    </div>
	  </div>
	</section>
</div>
{% endblock %}
