{% extends "nav_base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 px-1 bg-info">
            <div class="py-5 sticky-top flex-grow-1">
                <div class="nav flex-sm-column">
                    <a href="/Analisis/Proteina" class="nav-link">Proteínas</a>
                    <a href="/Analisis/Arbol" class="nav-link">Árbol filogenético</a>
                </div>
            </div>
        </div>
        <div class="col" id="main">
            {% block section %} {% endblock %}
        </div>
    </div>
</div>

{% endblock%}