{% extends "nav_base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 px-1 bg-dark">
            <div class="py-5 sticky-top flex-grow-1">
                <div class="nav flex-sm-column">
                    <!-- <a href="" class="nav-link d-none d-sm-inline">Análisis</a> -->
                    <!-- <a href="/Analisis/Gen" class="nav-link">Genes</a> -->
                    <a href="/Analisis/Proteina" class="nav-link">Proteínas</a>
                    <a href="/Analisis/Arbol" class="nav-link">Árbol filogenético</a>
                    <!-- <a href="" class="nav-link">Otro</a> -->
                </div>
            </div>
        </div>
        <div class="col" id="main">
            {% block section %} {% endblock %}
        </div>
    </div>
</div>

{% endblock%}