{% extends "index_base.html" %}

{% block section %}


<div class="pagina">
	<header class="box-1">
		<button type="button" class="btn delfin-dato" data-toggle="modal" data-target=".delf">delfin
			rosado</button>
		<div class="modal fade delf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content texto-modal">
					<h1>Delfín Rosado</h1>
					El delfín rosado es una de las especies emblemáticas del Amazonas. Se le llama también Boto o Bufeo
					y es el delfín más grande de agua dulce. Es conocido por ser amistoso y noble, en tribus de la
					Amazonia es común escuchar historias de que estos animales han salvado personas de morir ahogadas,
					llevándolas a la orilla.

					Su nombre científico es Inia geoffrensis y pertenece al género Inea, parte de la familia
					Platanistoidea. El delfín rosado es un cetáceo que no se parece en nada al delfín de mar común, por
					el contrario, posee características especiales para poder sobrevivir en su hábitat.
				</div>
			</div>
		</div>

		<button type="button" class="btn rata-dato" data-toggle="modal" data-target=".rat">rata
			arbórea</button>
		<div class="modal fade rat" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content texto-modal">
					<h1>Rata Arbórea</h1>
					La Makalata didelphoides o Makalata armata (Rata arbórea amazónica) es una especie de roedor de la
					familia Echimyidae. Habita en Bolivia, Brasil, la Guyana francesa, Guayana, Surinam y Venezuela,
					donde vive en terrenos húmedos del bosque tropical.​ También hay una población en Ecuador la cual
					se asocia a esta especie o a la Makalata macrurus. Es un animal nocturno, y se alimenta de semillas.
				</div>
			</div>
		</div>

		<button type="button" class="btn vicuna-dato" data-toggle="modal" data-target=".vicu">vicuña</button>
		<div class="modal fade vicu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content texto-modal">
					<h1>Vicuña</h1>
					La vicuña (Vicugna vicugna) —del quechua wik'uña— es una especie de mamífero artiodáctilo de la
					familia de los camélidos y del grupo de los camélidos sudamericanos que vive en el altiplano andino,
					en el noroeste de Argentina, el oeste de Bolivia, el noreste de Chile, sectores de los Andes de
					Ecuador y en las alturas andinas del Perú, país que posee la principal población de la especie.
					Posee dos subespecies reconocidas: la vicuña del norte o vicuña peruana (Vicugna vicugna mensalis) y
					la vicuña austral o vicuña del sur (Vicugna vicugna vicugna).
				</div>
			</div>
		</div>

		<button type="button" class="btn colibri-dato" data-toggle="modal" data-target=".coli">colibri
			pechinegro</button>
		<div class="modal fade coli" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content texto-modal">
					<h1>Colibrí Pechinegro</h1>
					El colibrí pechinegro, llamado también picaflor andino negro o estrella de pecho negro
					(Oreotrochilus melanogaster), es una especie de ave de la familia Trochilidae, orden Apodiformes.
					Vive únicamente en la región central de Perú, en la cordillera de los Andes, a altitudes de 3 500 a
					4 400 m y habita en zonas de monte bajo y bosques arbustivos.
					Mide alrededor de 14 cm de longitud y pesa unos 8,4 gr. Su pico es corto y ligeramente curvado. Su
					plumaje es verde broncíneo en el dorso, más oscuro en los machos, con una gorguera de color verde
					metálico intenso. El pecho, vientre y cola de los machos son casi completamente negras.
				</div>
			</div>
		</div>


	</header>

	<!-- Home screen -->
</div>
{% endblock %}