{% extends "index_base.html" %}

{% block section %}


<div class="pagina">
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto" id="inicio-h">
              <h1 class="mb-5" style='background-color:rgba(39,112,4,0.4)'><b>Biología Computacional</b></h1>
              <h2 class="home" style='background-color:rgba(39,112,4,0.4);margin-right:330px'><b>El Oso Andino</b></h2>
            </div>
          </div>
        </div>
      </div>
    </header>

		<!-- Home screen -->

	<section class="features bg-primary text-justify" id="objetivos">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Objetivos</h2>
			<p >
				<ul>
					<li>Aplicar la librería biopython y el framework de python: Flask, para analizar la filogénia del oso andino.</li>
					<li>Analizar si las secuencias homólogas locales son las más adecuadas para este proyecto</li>
					<li>Estudiar longuitudes de secuencias de las proteínas</li>
					<li>Generar el árbol filogenético de cada proteína</li>
				</ul>
			</p>
          </div>
        </div>
      </div>
	</section>


	<section class="features bg-info" id="porque-oso">
	  <div class="container">
	    <div class="row">
			<div class="col-md-8 mx-auto">
				<h2 class="section-heading">¿Por qué el Oso Andino?</h2>
				<p>
					El oso andino (Tremarctos ornatus) es el único oso de Sudamérica y es endémico de los Andes tropicales. Los osos andinos viven a lo largo de la cordillera de los Andes, desde Venezuela hasta el sur de Bolivia, y son tanto terrestres como arbóreos. Son omnívoros, aunque la carne sólo representa una pequeña parte de su dieta. Conocido también como ukuku (vocablo quechua) u oso de anteojos, el oso andino es parte importante de la cosmovisión tanto andina como amazónica. Se les considera mediadores entre el mundo de los vivos y el de los muertos, y los indígenas Matsiguenga lo consideran el creador de la vida, el Maeni.
				</p>
				<p>
					Este oso está constantemente amenazado debido a cambios en el uso del territorio, lo que ha fragmentado su hábitat original, como también por la caza realizada por humanos que entran en conflicto con él, o utilizan partes de su cuerpo para medicina tradicional y rituales. Adicionalmente, su naturaleza escurridiza impide estudiarlo en profundidad, por lo que su protección y manejo implican grandes retos. Además de todo esto, las instituciones responsables de la conservación del oso andino a lo largo de su distribución se encuentran pobremente financiadas y respaldadas.
				</p>
			</div>
	    </div>
	  </div>
	</section>

	<section class="features" id="acerca-oso">
	  <div class="container">
	    <div class="row">
			<div class="col-md-8 mx-auto">
				<h2 class="section-heading">10 Datos Acerca del Oso Andino</h2>
		<p>
			<b>1.</b> Puede medir hasta 2 m de alto y pesar hasta 130 kg, siendo los machos más grandes que las hembras.<br>
			<b>2.</b> También es conocido como “oso de anteojos” por las marcas claras que algunos individuos presentan alrededor de los ojos.<br>
			<b>3.</b> ¿Qué tienen los osos pandas en común con los osos andinos? ¡Los dos tienen una cabeza grande en comparación con el resto de su cuerpo!<br>
			<b>4.</b> Además de materia vegetal, comen insectos y rara vez, huevos y carne de animales.<br>
			<b>5.</b> Muchas culturas creen que sus garras tienen propiedades medicinales, lo que es una amenaza para su población.<br>
			<b>6.</b> Aunque no lo parezcan, son muy buenos nadadores y trepadores.<br>
    		<b>7.</b> Construyen plataformas encima de árboles donde toman siestas y llevan su comida para digerir.<br>
			<b>8.</b> Son solitarios pero parecen dejar mensajes en árboles para otros individuos, señalando con sus olores por dónde han ido.<br>
			<b>9.</b> No hibernan.<br>
			<b>10.</b> Las crías se llaman oseznos. Normalmente, una hembra tiene de 2 a 4 crías por embarazo.<br>
		</p>

	    <div class="screen">
            <img src="https://animalespeligroextincion.org/wp-content/uploads/2018/12/oso-anteojos.jpg" class="img-fluid" alt="Responsive">
		</div>
		<br>
		<p>
			Es muy importante mencionar que es la única especie que aún vive de la subfamilia Tremarctinae y que también es el único úrsido endémico que existe actualmente en Sudamérica.
		</p>

			</div>
	    </div>
	  </div>
	</section>
</div>
{% endblock %}
