{% extends "proyecto_base.html" %}

{% block section %}

<div class="pagina">

	<section class="features" id="Integrantes">
	  <div class="container">
	    <div class="row">
			<div class="col-md-8 mx-auto">
				<h2 class="section-heading">Integrantes</h2>
					<ul>
						<li>Hidalgo Chavez, Daniel</li>
						<li>Huiza Flores, Angel</li>
					</ul>
			</div>
	    </div>
	  </div>
	</section>

	<section class="features bg-info text-justify" id="Repositorio">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
				<h2 class="section-heading">Repositorio</h2>
					<p>
						El repositorio del proyecto se encuentra alojado <a href="http://www.osopedia.com/oso-de-anteojos/" title="">aquí</a>
					</p>
					<p>
						GitHub es una plataforma donde podemos alojar código fuente de forma pública o privada, y mediante el controlador de versiones Git, podemos trabajar a nivel colaborativo en diferentes proyectos con distintos desarrolladores.
					</p>
			</div>
	    </div>
	  </div>
	</section>


	<section class="features bg-primary text-justify" id="Licencia">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
				<h2 class="section-heading">Acerca de la Licencia</h2>
					<p>
						El proyecto tiene la licencia MIT, la cual es una Licencia de software libre permisiva lo que significa que impone muy pocas limitaciones en la reutilización y por tanto posee una excelente Compatibilidad de licencia. La licencia MIT permite reutilizar software dentro de Software propietario.
					</p>
					<p>
						Por otro lado, la licencia MIT es compatible con muchas licencias copyleft, como la GNU General Public License1​ (software con licencia MIT puede integrarse en software con licencia GPL, pero no al contrario).
					</p>
					<p>
						El texto de la licencia no tiene copyright, lo que permite su modificación. No obstante esto, puede no ser recomendable e incluso muchas veces dentro del movimiento del software de código abierto desaconsejan el uso de este texto para una licencia, a no ser que se indique que es una modificación, y no la versión original.
					</p>
			</div>
	    </div>
	  </div>
	</section>
</div>
{% endblock %}
